In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sleep = pd.read_csv("https://raw.githubusercontent.com/aliciacaminero/Sleep/refs/heads/main/Sleep_health_and_lifestyle_dataset.csv")
df_sleep.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [3]:
# Información general del dF
data_info = df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [6]:
# Identificar valores nulos y resumen estadístico
null_values = df_sleep.isnull().sum()
data_description = df_sleep.describe()

In [7]:
data_info, null_values, data_description

(None,
 Person ID                    0
 Gender                       0
 Age                          0
 Occupation                   0
 Sleep Duration               0
 Quality of Sleep             0
 Physical Activity Level      0
 Stress Level                 0
 BMI Category                 0
 Blood Pressure               0
 Heart Rate                   0
 Daily Steps                  0
 Sleep Disorder             219
 dtype: int64,
         Person ID         Age  Sleep Duration  Quality of Sleep  \
 count  374.000000  374.000000      374.000000        374.000000
 mean   187.500000   42.184492        7.132086          7.312834
 std    108.108742    8.673133        0.795657          1.196956
 min      1.000000   27.000000        5.800000          4.000000
 25%     94.250000   35.250000        6.400000          6.000000
 50%    187.500000   43.000000        7.200000          7.000000
 75%    280.750000   50.000000        7.800000          8.000000
 max    374.000000   59.000000        8.500000          9.000000

        Physical Activity Level  Stress Level  Heart Rate   Daily Steps
 count               374.000000    374.000000  374.000000    374.000000
 mean                 59.171123      5.385027   70.165775   6816.844920
 std                  20.830804      1.774526    4.135676   1617.915679
 min                  30.000000      3.000000   65.000000   3000.000000
 25%                  45.000000      4.000000   68.000000   5600.000000
 50%                  60.000000      5.000000   70.000000   7000.000000
 75%                  75.000000      7.000000   72.000000   8000.000000
 max                  90.000000      8.000000   86.000000  10000.000000  )

In [8]:
# Separo 'Blood Pressure' en dos columnas: Systolic y Diastolic
df_sleep[['Systolic_BP', 'Diastolic_BP']] = df_sleep['Blood Pressure'].str.split('/', expand=True)
df_sleep['Systolic_BP'] = pd.to_numeric(df_sleep['Systolic_BP'], errors='coerce')
df_sleep['Diastolic_BP'] = pd.to_numeric(df_sleep['Diastolic_BP'], errors='coerce')

In [9]:
# Elimino la columna original de presión arterial
df_sleep = df_sleep.drop(columns=['Blood Pressure'])

In [10]:
# Reviso valores únicos en columnas categóricas para verificar consistencia
categorical_columns = ['Gender', 'Occupation', 'BMI Category', 'Sleep Disorder']
unique_values = {col: df_sleep[col].unique() for col in categorical_columns}

In [11]:
cleaned_data_info = df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Heart Rate               374 non-null    int64
 10  Daily Steps              374 non-null    int64
 11  Sleep Disorder           155 non-null    object
 12  Systolic_BP              374 non-null    int64
 13  Diastolic_BP             374 non-null    int64
dtypes: float64(1), int64(9), object(4)
memory usage: 41.0+ KB

In [12]:
post_null_values = df_sleep.isnull().sum()

In [13]:
unique_values, cleaned_data_info, post_null_values

({'Gender': array(['Male', 'Female'], dtype=object),
  'Occupation': array(['Software Engineer', 'Doctor', 'Sales Representative', 'Teacher',
         'Nurse', 'Engineer', 'Accountant', 'Scientist', 'Lawyer',
         'Salesperson', 'Manager'], dtype=object),
  'BMI Category': array(['Overweight', 'Normal', 'Obese', 'Normal Weight'], dtype=object),
  'Sleep Disorder': array([nan, 'Sleep Apnea', 'Insomnia'], dtype=object)},
 None,
 Person ID                    0
 Gender                       0
 Age                          0
 Occupation                   0
 Sleep Duration               0
 Quality of Sleep             0
 Physical Activity Level      0
 Stress Level                 0
 BMI Category                 0
 Heart Rate                   0
 Daily Steps                  0
 Sleep Disorder             219
 Systolic_BP                  0
 Diastolic_BP                 0
 dtype: int64)

In [ ]:
df_sleep

In [15]:
# Reemplazamos valores nulos en la columna 'Sleep Disorder' con 'None'
df_sleep['Sleep Disorder'] = df_sleep['Sleep Disorder'].fillna('None')

# Verificamos que no queden valores nulos
df_sleep_limp = df_sleep['Sleep Disorder'].isnull().sum()

np.int64(0)

In [17]:
df_sleep

np.int64(0)